<%include _header%>
<h1>Estas son las armas!</h1>

<% armas.forEach((arma)=>{%>
<div class="panel panel-default">
    <div class="panel-heading">
            <a href="/arma/<%= arma.descripcion %>">Descripcion: <%= arma.descripcion%></a>
            <br>
        <a href="/arma/<%= arma.categoria %>">Categoria: <%= arma.categoria%></a>
        <br>
        <a href="/arma/<%= arma.fuerza %>">Fuerza: <%= arma.fuerza%></a>
        <br>
        <a href="/arma/<%= arma.municiones %>">Municiones: <%= arma.municiones%></a>
    </div>
    <% if(arma.bio){%>
    <div class="panel-body"><%= arma.bio%></div>
    <%}%>
</div>
<%})%>

<% include _footer%>
